[Unit]
Description=Pion Server
After=network-online.target
Wants=network-online.target

[Service]
User=radxa
WorkingDirectory=/home/radxa/code/sPion
# Выполняем git pull перед запуском сервиса:
ExecStartPre=/usr/bin/git -C /home/radxa/code/sPion pull
# Используем прямой путь к python из виртуального окружения:
ExecStart=/home/radxa/code/sPion/.venv/bin/python3 /home/radxa/code/sPion/main_radxa.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
